
.sec_hom_1 .banner_img {
    width: 100%;
    height: 100%;
    padding: 20px;
    /* margin: 2px; */
    text-align: center;
    clip-path: polygon(99% 2%, 5% 10%, 0% 100%, 100% 100%);
    position: relative;
    background-size: cover;
}
/* 
.sec_hom_1 .edge::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: blueviolet;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: -60px 217px;
    border-radius: 0px 13px;
    opacity: 0.1;
} */

.home_sec_2 h1 {font-weight: 800;text-transform: uppercase;}

.home_sec_2 .inner_cards{
    border: 5px solid gray;
    border-radius: 20px;
    padding-top: 5px;
}


.home_sec_2 .inner_cards>p 
{
    font-weight: 400;
}

.home_sec_2 {
    text-align: center;
    padding: 25px;
}

.home_sec_3 p {
    text-align: center;
    font-family: cursive;
    padding: 10px 40px;
    margin: 0px auto;
    transition: ease 400ms;
    
}

.home_sec_3 p:hover {
    background: linear-gradient(518deg, #fdcd3b 65%, #FE8 60%);
    transform: scale(1.1);
    transition: ease 400ms;
}

.home_sec_4 .check_box .radio_btn>span {
    background: yellow;
    color: black;
    padding: 15px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px;


}
.radio_btn{
    position: relative;
    display: inline-block;
}

.check_box .radio_btn>input[type="radio"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}


.check_box .radio_btn>input[type="radio"]:checked+span {
    background: palevioletred;
}